@charset "UTF-8";
body {
  margin: 10px 5px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  font-size: 2vh;
}

.container {
  border: 2px solid black;
  -o-border-image: url("../images/border.png");
     border-image: url("../images/border.png");
  min-height: calc(100% - 56px);
  border-radius: 6px;
  margin: auto;
  margin-bottom: 26px;
  max-width: 1000px;
  border-radius: 5px;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .header_image_container {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header_image_container .header_image {
  height: 13vh;
  width: 13vh;
}

.container .stars_image {
  margin: 11px 0px;
  width: 110px;
}

.main_info {
  padding: 12px;
  margin: 0px 17px 0px 17px;
  border: 1px solid #a1c7b3;
  border-top-width: 1.3px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main_info .header {
  border-bottom: 1px solid #dddddd;
  border-radius: 2px;
  padding-bottom: 6px;
}

.main_info .header .app_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_info .header .app_info .header_image {
  height: 55px;
  width: 55px;
}

.main_info .header .app_info .header_image:hover {
  opacity: 0.5;
}

.main_info .header .app_info .saved {
  justify-self: flex-end;
}

.main_info .header .app_info .saved:hover {
  opacity: 0.5;
}

.main_info .header .app_info .saved img {
  width: 12px;
}

.main_info .header .app_info .header_text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 5px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_info .header .app_info .header_text .pg:hover {
  opacity: 0.5;
}

.main_info .header .app_info .header_text .pg img {
  width: 15px;
  height: 15px;
}

.main_info .header .app_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_info .header .rating {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main_info .header .rating i {
  font-size: 12px;
  color: #adadad;
}

.main_info .header .rating .subtitle {
  margin: 0;
}

.main_info .header .rating div.rating_image {
  margin-right: 6px;
  color: #17775b;
}

.main_info .header .rating div.rating_image::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  position: absolute;
  color: #17775b;
}

.main_info .header .instal_button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 29px;
  border: none;
  cursor: pointer;
  background: #00875F;
  border-radius: 2px;
}

.main_info .header .instal_button span {
  width: 45px;
  height: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.main_info .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main_info .content .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 22px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_info .content div.main_image {
  margin: 0px -10px;
}

.main_info .content div.main_image:hover {
  opacity: 0.5;
}

.main_info .content div.main_image > img {
  width: 100%;
}

.main_info .footer {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_info .footer .logo:hover {
  opacity: 0.5;
}

.main_info .footer .logo img {
  height: 27px;
}

.main_info .footer .more {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 90%;
  line-height: 14px;
  /* identical to box height */
  color: #327765;
}

.main_info .footer .more:hover {
  opacity: 0.5;
}

.main_logo {
  width: 122px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-bottom: -81px;
  z-index: 999;
  background-color: #fff;
  bottom: 17px;
}

.main_logo:hover {
  opacity: 0.5;
}

.title {
  /* June’s Journey - Hidden Objects */
  white-space: pre-line;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #000000;
}

.title:hover {
  opacity: 0.5;
}

.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6vh;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: -0.02em;
  color: #636869;
  margin: 4px 0px 2px 0px;
}
/*# sourceMappingURL=index.css.map */